% include("_header.html", title="Items")


<form id="frm">
    <label for="">Item name (2 to 20 characters)</label>
    <input name="item_name" type="text" mix-check=".{2,5}">
    <button mix-post="/items" mix-data="#frm">
        Create item
    </button>
</form>


<div id="items"
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
gap-4 px-4 pt-8"
>




    % for item in items:
        <div id="item_{{ item['item_id'] }}">
            <a href="/items/{{item['item_id']}}"
            class="relative flex flex-col items-center justify-center bg-neutral-200 border border-gray-400 h-24 rounded-md"
            >
                {{ item['item_title'] }}
            </a>

            <button mix-delete="/items/{{ item['item_id'] }}">
                🗑️
            </button>
        </div>
    % end


    
</div>


% include("_footer.html")

