% include("_header.html", title="user")
<link rel="stylesheet" href="/css/update_user.css">
<script>
    // Define a function to print a message to the console
    function printToConsole() {
        console.log("xxxxx Loading user HER1 xxxxxx");
    }
</script>

<h1>User Details</h1>
<p>User ID: {{ user['user_pk'] }}</p>
<p>User Name: {{ user['user_name'] }}</p>    


<div
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
gap-4 px-4 pt-8"
>

<div
    id="user_{{user['user_pk'] }}"
    href="/user/{{user['user_pk']}}"
    class="relative flex items-center justify-center border border-black h-24 bg-white rounded-md"
>
    <p class="text-center">
        {{ user["user_name"] }} {{ user["user_lastname"] }}
    </p>
    <script>
        // Define a function to print a message to the console
        function printToConsole() {
            console.log("xxxxx setting up input field HER2 xxxxxx");
        }
    </script>
    <input type="text" id="user_name" name="user_name" value="{{ user['user_name'] }}">
    <input type="text" id="user_lastname" name="user_lastname" value="{{ user['user_lastname'] }}">

    <button 
        class="btn"  
        mix-put="/users/{{ user['user_pk'] }}?user_name={{ user['user_name'] }}"
    >
        save
    </button>

    <button
        class="delete-btn absolute bottom-1 right-1" 
        mix-delete="/users/{{ user['user_pk'] }}?user_name={{ user['user_name'] }}"
    >
        🗑️
    </button>
</div>


    
</div>



% include("_footer.html")

