% include("_header.html", title="Users")


<!-- <script>
    // Log information to the console
    console.log("Hello, console!");
    console.info("This is an informational message.");
    console.warn("This is a warning message.");
    console.error("This is an error message.");

    // You can also log variables or objects
    let myVar = 42;
    console.log("The value of myVar is:", myVar);

    let myObj = { name: "John", age: 30 };
    console.log("My object:", myObj);
</script> -->


<form id="frm">
    <label for="user_name">Username:</label>
    <input type="text" name="user_name" id="user_name" placeholder="First name here"/><br/>
    <label for="user_lastname"></label>
    <input type="text" name="user_lastname" id="user_lastname" placeholder="Last name here"/><br/>
    <label for="user_email"></label>
    <input type="text" name="user_email" id="user_email" placeholder="eMail here"/><br/>
    <button mix-post="/users" mix-data="#frm">
        Add User
    </button><br/>

</form>


<div id="users"
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
gap-4 px-4 pt-8"
>
%for user in users:
<a
    id="user_{{user['user_pk'] }}"
    href="/user/{{user['user_pk']}}"
    class="relative flex items-center justify-center border border-black h-24 bg-white rounded-md"
>
    <p class="text-center">
        {{ user["user_name"] }} {{ user["user_lastname"] }}
    </p>
    <button
        class="delete-btn absolute bottom-1 right-1"
        mix-delete="/users/{{ user['user_pk'] }}?user_name={{ user['user_name'] }}"
    >
        🗑️
    </button>
</a>
%end


    
</div>


% include("_footer.html")

